@model IEnumerable<FileShareResource>

@{
    ViewBag.Title = "Список файловых ресурсов";
    Layout = "_LayoutList";
}
<div class="text-left m-1 p-1">
    <a class="btn btn-outline-success" asp-action="Create">Добавить новый ресурс</a>
</div>
<div class="text-left m-1 p-1">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Добавить новый ресурс</button>
</div>
 <div class="col-md-10 col-md-offset-1">
    <div class="panel-body">
        <table id="list" class="table table-bordered table-sm small">
            <thead>
                <tr>
                    <th style="width: 20%">Название</th>
                    <th style="width: 20%">Владелец</th>
                    <th style="width: 30%">Описание</th>
                    <th style="width: 15%">Дата изменения</th>
                    <th style="width: 20%">Объём, ГБ</th>
                    <th style="width: 20%">Периодичность резервного копирования</th>
                    <th style="width: 30%">Срок хранения резервной копии </th>
                    <th style="width: 15%" class="text-center">Действия</th>
                </tr>
            </thead>
            @foreach (FileShareResource res in Model)
            {
                <tr>
                    <td>@res.Name</td>
                    <td>@res.OwnerEmployee?.Account</td>
                    <td>@res.Description</td>
                    <td>@res.ChangeDate</td>
                    <td>@res.SizeGB</td>
                    <td>@res.BackupFrequency</td>
                    <td>@res.BackupStoragePeriod</td>
                    <td class="text-center">
                        <form asp-action="Delete" method="post">
                            <a asp-action="Edit" class="btn btn-sm btn-outline-warning" asp-route-resourceId="@res.ResourceID">Изменить</a>
                            <input type="hidden" name="ResourceID" value="@res.ResourceID" />
                            <button type="submit" class="btn btn-outline-danger btn-sm">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>

</div>

    <i class="far fa-edit"></i>
