@model RequestDetail
@inject OTRSService otrsService
<tr>
    <td class="align-middle">@Model.EmployeeAccess.FullName</td>
    <td class="align-middle">@Model.Resource.Name</td>
    <td class="align-middle">@Model.Role.Name</td>
    <td class="align-middle">@Model.ResourceOwner.FullName</td>
    <td class="align-middle">@Model.Resource.Category.Name</td>
    <td class="small align-middle">
        @if (Model.CanDelete)
        {
            @Html.HiddenFor(m => Model.IsDeleted)
            <a class="btn btn-outline-warning btn-sm btn-link rounded-0 delete-detail">Удалить <span class="fa fa-trash-o"></span></a>
        }
        @if (Model.CanApprove)
        {
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-success rounded-0 btn-approving @(@Model.ApprovingResult == ResourceApprovingResult.Approved ? "active" : "")">
                    <input type="radio" value="@((int)ResourceApprovingResult.Approved)" asp-for="ApprovingResult" autocomplete="off" />
                    <span class="fa fa-check"></span><span>Согласовано</span>
                </label>
                <label class="btn btn-danger rounded-0 btn-approving @(@Model.ApprovingResult == ResourceApprovingResult.Declined ? "active" : "")">
                    <input type="radio" value="@((int)ResourceApprovingResult.Declined)" asp-for="ApprovingResult" autocomplete="off" />
                    <span class="fa fa-check"></span>Отказ
                </label>
            </div>
        }
        else
        {
            <input hidden asp-for="ApprovingResult" />
            <div class="text-uppercase @(@Model.ApprovingResult == ResourceApprovingResult.Approved ? "text-success" : "text-danger")"><strong>@Model.ApprovingResult.GetDisplayName()</strong></div>
        }
    </td>
    <td class="text-right align-middle">
        @if (Model.TicketID.HasValue)
        {            
        <a href=@otrsService.GetTicketUrl(Model.Ticket.TicketNumber) target="_blank">
            @Model.Ticket.TicketNumber</a>
            @if (Model.Ticket.EndDate.HasValue)
            {
                <span>выполнена @Model.Ticket.EndDate.Value.ToString("dd.MM.yy") </span>
            }
            else
            {
                <span>выполняется </span>
            }
        }
    </td>
    @Html.HiddenFor(m => Model.EmployeeAccessID)
    @Html.HiddenFor(m => Model.ID)
    @Html.HiddenFor(m => Model.ResourceID)
    @Html.HiddenFor(m => Model.ResourceOwnerID)
    @Html.HiddenFor(m => Model.RoleID)
</tr>

