@model RequestDetail
<tr>
    <td class="align-middle">@Model.Resource.Name</td>
    <td class="align-middle">@Model.Resource.Category.Name</td>
    <td class="align-middle">@Model.ResourceOwner.FullName</td>
    <td class="align-middle">@Model.Role.Name</td>
    <td>
        @if (Model.CanDelete)
        {
        <a class="btn btn-light btn-sm delete-resource ">Удалить</a>
        }
        @if (Model.CanApprove)
        {
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-success btn-approving @(@Model.ApprovingResult == ResourceApprovingResult.Approved ? "active" : "")">
                <input type="radio" value="@((int)ResourceApprovingResult.Approved)" asp-for="ApprovingResult" autocomplete="off" />
                <span class="fa fa-check"></span><span>Согласовано</span>
            </label>
            <label class="btn btn-danger btn-approving @(@Model.ApprovingResult == ResourceApprovingResult.Declined ? "active" : "")">
                <input type="radio" value="@((int)ResourceApprovingResult.Declined)" asp-for="ApprovingResult" autocomplete="off" />
                <span class="fa fa-check"></span>Отказ
            </label>
        </div>
        }
        else
        {
        <input hidden asp-for="ApprovingResult" />
        <div class="text-uppercase"><strong>@Model.ApprovingResult.GetDisplayName()</strong></div>
        }
    </td>
    @Html.HiddenFor(m => Model.ID)
    @Html.HiddenFor(m => Model.ResourceID)
    @Html.HiddenFor(m => Model.ResourceOwnerID)
</tr>

